<!DOCTYPE html>
<html>
<head>
    <title>People List</title>
</head>
<body>
    <h1>Saved People</h1>
    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        {% for person in people %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="3">No data found.</td></tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Add More</a>
</body>
</html>
